:root {
    /* --fondo: #272727;
    --primario: #097536;
    --texto: #ffffff;
    --texto-enlace: #15e1ff;
    --texto-hover-enlace: #14abc2;
    --fondo-mensaje: #09599b;
    --fondo-alerta: #98980b;
    --hover-fondo: #3d3c3c;
    --texto-accion: #12994a;
    --hover-accion: #14c95f;
    --fondo-celda: #747474; */

    --fondo: #101010;
    --primario: #03616b;
    --texto: #ffffff;
    --texto-enlace: #dfdf2a;
    --texto-hover-enlace: #f7f703;
    --fondo-mensaje: #575757;
    --fondo-alerta: #ad1d1d;
    --hover-fondo: #363636;
    --texto-accion: #089faf;
    --hover-accion: #00dcf3;
    --fondo-celda: #023136;
}

.body{
    background-color: var(--fondo);
    color: var(--texto);
    margin: 0;
    font-size: 18px;
}

.menu{
    padding: 15px;
    background-color: var(--primario);
    margin-bottom: 30px;
}

.menu *{
    margin: 10px;
}

.d-ib{
    display: inline-block;
}

.enlace{
    color: var(--texto-enlace);
    text-decoration: none;
}

.enlace:hover{
    color: var(--texto-hover-enlace);
}

.mensaje{
    background-color: var(--fondo-mensaje);
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0px;
    margin: 0 0 30px 10%;
}

.alerta{
    background-color: var(--fondo-alerta);
    padding: 10px;
}

.texto-centrado{
    text-align: center;
}

.formulario{
    background-color: var(--primario);
    width: 90%;
    margin: 0 0 30px 5%;
    text-align: center;
    border-radius: 5px;
    padding: 20px 0px;
}

.formulario *{
    display: block;
    margin: 10px auto 10px auto;
}

.entrada{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    color: var(--primario);
}

.boton{
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--fondo);
    color: var(--texto);
    border: 0px;
    cursor: pointer;
}

.boton:hover{
    background-color: var(--hover-fondo);
}

.ml-20px{
    margin-left: 20px;
}

.accion{
    color: var(--texto-accion);
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid transparent;
    margin: 20px;
}

.accion:hover{
    color: var(--hover-accion);
    border-color: var(--hover-accion);
}

.contenedor-tabla{
    overflow-x: scroll;
    max-width: 100%;
}

.tabla{
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
}

.tabla th{
    background-color: var(--primario);
}

.tabla tr *{
    padding: 10px;
}

.tabla td{
    background-color: var(--fondo-celda);
}

.w-80p{
    width: 80%;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.contenido-modal {
    background-color: var(--fondo);
    margin: 15% auto;
    width: 80%;
}

.cabeza-modal{
    background-color: var(--primario);
    padding: 5px 20px;
}

.cuerpo-modal{
    padding: 15px;
}