{% extends "base.html" %}

{% block title %}Admin Consults{% endblock %}

{% block content %}
    {% include "message.html" %}

    <h2 class="text-center">Consult</h2>
    
    <h3  class="text-center"> Select The Consult type </h3>
    <div class="table-container">
      <table class="table">
        <td width="100" colspan="2" height="22"> 
          <tr>
            <th>Image</th>
            <th>Code</th>
            <th>Namen</th>
            <th>Type</th>
            <th>Imagen</th>
          </tr>
        </td>
      </table>
    </div>
      
{% endblock %}