{% extends "base.html" %}

{% block titulo %}Administrador{% endblock %}

{% block contenido %}
    <h3 class="texto-centrado">Administrador</h3>

    {% include "mensaje.html" %}

    <div class="contenedor-tabla">
        <table class="tabla">
            <tr>
                <th>Número de Cuenta</th>
                <th>Tipo de Cuenta</th>
                <th>Monto</th>
                <th>Propietario</th>
            </tr>
            {% for cuenta in cuentas %}
                <tr>
                    <td>{{cuenta[0]}}</td>
                    <td>{{cuenta[1]}}</td>
                    <td>{{cuenta[2]}}</td>
                    <td>{{cuenta[3]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}