{% extends "base.html" %}

{% block titulo %}Agregar Beneficiario{% endblock %}

{% block contenido %}
    <h3 class="texto-centrado">
        {% if id_parentesco %}
            Editar
        {% else %}
            Agregar
        {% endif %}
        Beneficiario
    </h3>

    <form method="POST" class="formulario">
        <input type="text" placeholder="Nombre" name="nombre" required value="{{nombre}}" class="entrada"/>
        <select name="tipo_documento_identidad" required class="entrada">
            {% if id_tipo_documento_identidad %}
                <option selected value="{{id_tipo_documento_identidad}}">{{tipo_documento_identidad}}</option>
            {% else %}
                <option selected disabled>Escoja un tipo de documento de identidad</option>
            {% endif %}
            {% for tdi in tipos_documento_identidad %}
                {% if id_tipo_documento_identidad!=tdi[0] %}
                    <option value="{{tdi[0]}}">{{tdi[1]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="text" placeholder="Documento de Identidad" name="documento_identidad" required value="{{documento_identidad}}" class="entrada"/>
        <input type="date" placeholder="Fecha de Nacimiento" name="fecha_nacimiento" required value="{{fecha_nacimiento}}" class="entrada"/>
        <input type="email" placeholder="Correo electrónico" name="email" required value="{{email}}" class="entrada"/>
        <input type="number" placeholder="Porcentaje" name="porcentaje" required value="{{porcentaje}}" class="entrada"/>
        <select name="parentesco" required class="entrada">
            {% if id_parentesco %}
                <option selected value="{{id_parentesco}}">{{parentesco}}</option>
            {% else %}
                <option selected disabled>Parentesco</option>
            {% endif %}
            {% for parentesco in parentescos %}
                {% if id_parentesco!=parentesco[0] %}
                    <option value="{{parentesco[0]}}">{{parentesco[1]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="tel" placeholder="Teléfono 1" name="telefono_1" required value="{{telefono_1}}" class="entrada"/>
        <input type="tel" placeholder="Teléfono 2" name="telefono_2" required value="{{telefono_2}}" class="entrada"/>
        <button class="boton">{% if id_parentesco %}Editar{% else %}Agregar{% endif %} Beneficiario</button>
    </form>
{% endblock %}