{% extends "base.html" %}

{% block titulo%}Cuentas Objetivo Sin Débito{% endblock %}

{% block contenido %}
    <table class="tabla">
        <tr>
            <th colspan="7">Cuentas Objetivo Sin Débito</th>
        </tr>
        <tr>
            <th>Número cuenta</th>
            <th>Número CO</th>
            <th>Descripción</th>
            <th>Retiros realizados</th>
            <th>Totalidad retiros</th>
            <th>Monto</th>
            <th>Monto total</th>
        </tr>
        {% for lista in matriz %}
            <tr>
                {% for dato in lista %}
                    <td>{{dato}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}