{% extends "base.html" %}

{% block titulo %}Agregar Cuenta Objetivo{% endblock %}

{% block contenido %}

    <h3 class="texto-centrado">
        {% if descripcion %}
            Editar
        {% else %}
            Agregar
        {% endif %}
        Cuenta Objetivo
    </h3>

    <form method="POST" class="formulario">
        <input type="date" placeholder="Fecha Inicio" name="fecha_inicio" required value="{{fecha_inicio}}" class="entrada"/>
        <input type="date" placeholder="Fecha Fin" name="fecha_fin" required value="{{fecha_fin}}" class="entrada"/>
        <input type="number" placeholder="Cuota" name="cuota" required value="{{cuota}}" class="entrada"/>
        <input type="text" placeholder="Descripcion" name="descripcion" required value="{{descripcion}}" class="entrada"/>
        <input type="number" placeholder="Saldo" name="saldo" required value="{{saldo}}" class="entrada"/>
        <input type="number" placeholder="Interes Anual" name="interes_anual" required value="{{interes_anual}}" class="entrada"/>
        <button class="boton">{% if descripcion %}Editar{% else %}Agregar{% endif %} Cuenta Objetivo</button>
    </form>
{% endblock %}