{% extends "base.html" %}

{% block titulo %}Estados de Cuenta{% endblock %}

{% block contenido %}
    <div class="contenedor-tabla">
        <table class="tabla">
            <tr><th colspan="6">Estados de Cuenta</th></tr>
            <tr>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Saldo Inicial</th>
                <th>Saldo Final</th>
                <th>Operaciones en Cajero</th>
                <th></th>
            </tr>
            {% for estado in estados_cuenta %}
                <tr>
                    <td>{{estado.fecha_inicio}}</td>
                    <td>{{estado.fecha_fin}}</td>
                    <td>{{estado.saldo_inicial}}</td>
                    <td>{{estado.saldo_final}}</td>
                    <td>
                        Automático: {{estado.operaciones_cajero_automatico}},
                        Humano: {{estado.operaciones_cajero_humano}}
                    </td>
                    <td><a href="/cuentas/estados/{{estado.id}}/movimientos" class="enlace">Ver Movimientos</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}