{% extends "base.html" %}

{% block titulo %}Exceso ATM{% endblock %}

{% block contenido %}
<h2 class="texto-centrado">Exceso en ATM</h2>
    <form method="POST" class="formulario">
        <input
            type="number"
            placeholder="Especifique la cantidad de días"
            name="cant_dias"
            class="entrada w-80p"
            required
        />
        <button class="boton">Realizar Consulta</button>
    </form>

    <table class="tabla">
        <tr>
            <th>Promedio</th>
	        <th>Mes máximo</th>
	        <th>Año máximo</th>
	        <th>Número de Cuenta</th>
        </tr>
        {% for lista in matriz %}
            <tr>
                {% for dato in lista %}
                    <td>{{dato}}</td>                
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}