{% extends "base.html" %}

{% block titulo %}Pago a Beneficiarios{% endblock %}

{% block contenido %}
    <table class="tabla">
        <tr>
            <th colspan="5">Pago a Beneficiarios</th>
        </tr>
        <tr>
            <th>Dinero total</th>
            <th>Cuenta de mayor aporte</th>
            <th>Cantidad de cuentas</th>
            <th>Documento de identidad</th>
            <th>Nombre</th>
        </tr>
        {% for lista in matriz %}
            <tr>
                {% for dato in lista %}
                    <td>{{dato}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}