{% extends "base.html" %}

{% block title %}Reviews{% endblock %}

{% block content %}
    <h2 class="text-center">Product Reviews</h2>

    {% include "message.html" %}


    <table class="centered thick-border">
        <div class="table-container">
            <div class="whisky-container">
                {% for item in data %}

                <div class="whisky">
                    <h1 class="text-center"> {{item}}  </h1>
                </div>
                
                {% endfor %}
            </div>
</table>


{% endblock %}