{% extends "base.html" %}

{% block titulo %}United States{% endblock %}

{% block contenido %}
    <h2 class="texto-centrado">Whiskey Club</h2>

    <h3  class="texto-centrado"> Welcome </h3>
    <div class="contenedor-tabla">
        <table class="tabla">
            <tr>
                <tr>
                    <td width="210" colspan="2" height="22">  
                      <center>
                        <a href="/scotland" class="enlace"">Products</a>

                        <a href="/unitedstates" class="enlace"">Map</a>
                    
                      </center>
              
                    </td>
                  </tr>
            </tr>
           
        </table>
    </div>
{% endblock %}